
<div class="row adminrow">

<h1>Legg til episode</h1>



<div class="col-md-6 adminrow">
  <div search-field searchterms="terms"> hei</div>
<button class="btn" ng-click="isCollapsed = !isCollapsed">Legg til ny</button>
<hr>
<div ng-show="isCollapsed">
<form role="form">
  <div class="form-group">
    <label for="inputTitle">Tittel</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Legg til tittel">
  </div>
  <div class="form-group">
    <label for="inputIngress">Ingress</label>
    <input type="textarea" class="form-control" id="inputIngress" placeholder="Legg til ingress">
  </div>
  <div class="form-group">
    <label for="inputArticle">Artikkel</label>
    <textarea class="form-control" rows="3" id="inputArticle" placeholder="Legg til artikkel"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</div>
</div>